/* Properties which are inherited by the child element*/
body {
  color: aquamarine;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  text-align: center;
  word-spacing: normal;
}


/* Properties which are not inherited by the child element */
body {
  background-color: brown;
  background-image: none;
  padding:50px;
}